
RewriteEngine on
# RewriteEngine on
# RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^swimproject3\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.swimproject3\.com$
RewriteRule ^public\/?$ "https\:\/\/swimproject3\.com\/public" [R=301,L]
